{% extends "base.html" %}
{% load static %}

{% block title %} | Page Not Found{% endblock title %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <a href="{% url 'query' %}" class="navbar-brand">{{ app_name }}</a>
        <div class="">
            {% include "query_form.html" %}
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 col-6 offset-3">
                <img src={% static "404.svg" %} class="img-fluid"/>
            </div>
        </div>
    </div>
{% endblock body %}