{% extends "base.html" %}
{% load querystring %}

{% block title %} | {{ query|title }}{% endblock title %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <a href="{% url 'query' %}" class="navbar-brand">{{ app_name }}</a>
        <div class="">
            {% include "query_form.html" %}
        </div>
    </nav>
    <div class="container">
        <h3 class="m-2 p-2">
            {{ query|title }}
        </h3>
        {% for synonym in object_list %}
            <div class="card m-2">
                <div class="card-body">
                    {% for word in synonym.synonym.all %}
                        <span class="badge">
                            <h6>
                                <a href="{% url 'synonym' %}{% querystring query=word %}">
                                    {{ word|title }}
                                </a>
                            </h6>
                        </span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
{#        {{ object_list }}#}
    </div>
{% endblock body %}